.typing {
  align-items: center;
  display: flex;
  height: 17px;
}

.typing .dot {
  animation: mercuryTypingAnimation 1.2s infinite ease-in-out;
  background-color: #ffffffce;
  border-radius: 50%;
  height: 5px;
  margin-right: 4px;
  vertical-align: middle;
  width: 5px;
  display: inline-block;
}

.typing .dot:nth-child(1) {
  animation-delay: 0ms;
}

.typing .dot:nth-child(2) {
  animation-delay: 100ms;
}

.typing .dot:nth-child(3) {
  animation-delay: 250ms;
}

.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
  }
  28% {
    transform: translateY(-7px);
  }
  44% {
    transform: translateY(0px);
  }
}
