@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins Regular";
  src: url("../public/Poppins-Regular.ttf");
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

